# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Environment files
.env
.env.*

# Logs and runtime files
*.log
*.pid
*.db
*.sqlite3

# Unit test / coverage reports
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code and PyCharm
.vscode/
.idea/

# Virtual environments
env/
venv/
ENV/
.venv/
env.bak/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.manifest

# OS/system files
.DS_Store
Thumbs.db
command.txt